@media(max-width: 1024px){

    .container5-1 {
        background-size: 45%;
    }

    .container6-1 {
        background-size: 45%;
    }

    .container5-1 .application .app {
        margin-left: 3%;
    }

    .container6-1 .application .app img {
        padding-left: 4%;
    }

    .application .app img{
        max-width: 100%;
    }

    .container7 {
        background-position-x: 34%
    }

    .container7 h3 {
        width: 90%;
    }

    .container7 p {
        width: 90%;
    }

    .container8 h3 {
        margin-top: 3%;
    }

    .container8 .btn-footer {
        margin-top: 10%;
    }
}

@media(max-width: 768px){
    .logo{
        width: 206px;
        height: 206px;
        top: -103px;
        left: calc(50% - 103px);
        box-shadow: 0 0 27px 30px #f5f8fa;
    }

    .logo .name{
        margin-top: 116px;
        font-size: 36px;
    }

    .logo .desc{
        font-size: 12px;
    }

    .burger{
        margin-top: 30px;
        box-shadow: 0 0 10px 15px #f5f8fa;
    }

    header{
        height: 100px;
    }

    .container2 p{
        width: 90%;
        display: block;
        margin-left: 5%;
    }

    .container5 .application .app {
        margin-left: 0;
    }

    .container6 .application .app img {
        padding-left: 0;
    }

    .container6 .application .content_left {
        margin-left: 5%;
    }

    .application h2 {
        font-size: 41px;
        padding-bottom: 5%;
        margin-top: 10%;
    }

    .container6 .application .content_left {
        top: 6%;
    }

    .container7 h3 {
        font-size: 44px;
    }

    .container7 .text {
        top: 15%;
    }

    .container8{
        background-size: cover;
        height: 100vh;
        min-height: 800px;
    }

    .container8 p {
        padding-top: 7%;
    }

    .container8 .btn-footer {
        margin-top: 20%;
    }
}

@media(max-width: 600px){
    .container3 h2 {
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .container3 .cards .item{
        margin: 0;
        width: 60%;
        margin-bottom: 10%;
    }

    .container3 .btn {
        margin-top: 10%;
        margin-bottom: 14%;
    }

    .application .app, .application .content_right{
        width: 100%;
        text-align: center;
        display: block;
    }

    .container5 .application .content_right{
        position: static;
    }

    .application .content_right h2{
        padding-top: 0;
        padding-bottom: 40px;
    }

    .container5 .application .text {
        padding-left: 0;
        margin: 0 auto;
    }

    .application .text {
        width: 90%;
        margin: 0 auto;
    }

    .container6 .application .content_left {
        width: 100%;
        display: block;
        text-align: center;
        margin-left: 0;
        margin: 0 auto;
        top: 65%;
    }
    

    .container6 .application .app {
        margin-left: 0;
        padding-bottom: 60%;
    }

    .container5{
        background-position-y: -5%;
        background-size: 60%;
    }

    .burger{
        width: 40px;
        height: 40px;
    }

    .burger .line:first-child{
        margin-top: 12px;
    }

    .search{
        line-height: 40px;
    }

    .container2{
        background-size: cover;
        height: 100vh;
        min-height: 568px;
        background-position-x: 54%;
    }

    .container7 {
        background-size: 1870px;
        background-position: bottom;
        background-position-x: 35%;
    }

    .container7 h3 {
        width: 100%;
        font-size: 36px;
    }

    .container7 p {
        line-height: 1.7;
    }
}

@media(max-width:426px){
    .application .app{
        overflow: hidden;
    }

    .application .app img{
        max-width: 122%;
        margin-left: -11%;
    }

    .logo {
        width: 150px;
        height: 150px;
        top: -75px;
        left: calc(50% - 75px);
    }
    .logo .name {
        margin-top: 80px;
        font-size: 30px;
    }
    .logo .desc {
        font-size: 10px;
    }
    .burger {
        margin-top: 15px;
    }

    .btn {
        margin-top: 49px;
    }

    .container2 {
        background-position: bottom;
        background-position-x: 54%;
        height: 865px;
    }

    .container2 h2 {
        padding-top: 40px;
        font-size: 42px;
        margin-bottom: 4.2%;
    }

    .container3 h2 {
        font-size: 44px;
    }

    .container6 .application .app {
        padding-bottom: 100%;
    }

    .application h2 {
        margin-top: 0%;
    }

    .container7 {
        background-size: 1180px;
        background-position: bottom;
        background-position-x: 35%;
        /* background-image: none; */
    }

    .container7 h3 {
        width: 90%;
        font-size: 40px;
    }

    .container7 .text {
        top: 10%;
        left: 9%;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .container7 p {
        color: #969ba1;
    }

    .container8 h3 {
        margin-top: 5%;
        font-size: 42px;
    }
}